[submodule "plugins/redmine_text_blocks"]
	path = plugins/redmine_text_blocks
	url = https://github.com/gtt-project/redmine_text_blocks.git
[submodule "plugins/redmine_gtt"]
	path = plugins/redmine_gtt
	url = https://github.com/gtt-project/redmine_gtt.git
[submodule "plugins/redmine_gtt_smash"]
	path = plugins/redmine_gtt_smash
	url = https://github.com/gtt-project/redmine_gtt_smash.git
[submodule "plugins/redmine_gtt_print"]
	path = plugins/redmine_gtt_print
	url = https://github.com/gtt-project/redmine_gtt_print.git
[submodule "plugins/redmine_privacy"]
	path = plugins/redmine_privacy
	url = https://github.com/gtt-project/redmine_privacy.git
	branch = main
[submodule "plugins/redmine_chatwoot"]
	path = plugins/redmine_chatwoot
	url = https://github.com/gtt-project/redmine_chatwoot.git
	branch = main
[submodule "public/themes/lobsta"]
	path = public/themes/lobsta
	url = https://github.com/Georepublic/redmine_theme_farend_bleuclair.git
	branch = v4.2/lobsta
[submodule "plugins/redmine_gtt_export"]
	path = plugins/redmine_gtt_export
	url = https://github.com/gtt-project/redmine_gtt_export.git
	branch = main
[submodule "plugins/redmine_admissions"]
	path = plugins/redmine_admissions
	url = https://github.com/gtt-project/redmine_admissions.git
	branch = main
[submodule "plugins/redmine_decision_tree"]
	path = plugins/redmine_decision_tree
	url = https://github.com/gtt-project/redmine_decision_tree.git
	branch = main
[submodule "plugins/redmine_expo_push"]
	path = plugins/redmine_expo_push
	url = https://github.com/gtt-project/redmine_expo_push.git
	branch = main
[submodule "plugins/redmine_supply"]
	path = plugins/redmine_supply
	url = https://github.com/gtt-project/redmine_supply.git
	branch = main
[submodule "plugins/redmine_open311"]
	path = plugins/redmine_open311
	url = https://github.com/gtt-project/redmine_open311.git
	branch = main
[submodule "plugins/redmine_message_customize"]
	path = plugins/redmine_message_customize
	url = https://github.com/gtt-project/redmine_message_customize.git
	branch = master
[submodule "plugins/redmine_my_page"]
	path = plugins/redmine_my_page
	url = https://github.com/gtt-project/redmine_my_page.git
	branch = develop
[submodule "plugins/redmine_attachement_categories"]
	path = plugins/redmine_attachement_categories
	url = https://github.com/gtt-project/redmine_attachment_categories.git
	branch = gtt/develop
[submodule "plugins/redmine_custom_fields_groups"]
	path = plugins/redmine_custom_fields_groups
	url = https://github.com/gtt-project/redmine_custom_fields_groups.git
	branch = main
[submodule "plugins/redmine_legal_notes"]
	path = plugins/redmine_legal_notes
	url = https://github.com/gtt-project/redmine_legal_notes.git
	branch = master
